* {
    margin: 0;
    padding: 0;
    font-family: "segoe ui";
    box-sizing: border-box;
    height: auto;
    color: green;
    text-align: center;
}



div {
    display: block;
    text-align: center;
}

/* left-head */
img {
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 40px;
    border: 10px solid transparent;
    padding: 6px;
  
   
    
}
